@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}
@{
    ViewData["Title"] = "Home page";
}

<!-- Welcome page with directions. -->
<div class="row">
    <div class="col-4">
        <h4>If you are a store, click the Store Login above to look at item inventory.</h4>
    </div>
    <div class="col-4 text-center">
        <h1>Welcome to DeliveryCart!</h1>
        <br>
        <br>
        <h3>Stores and delivery drivers can see a list of customers by clicking Customers above.</h3>
    </div>
    <div class="col-4">
        <h4>If you are a customer, click the Customer Login above to create and view orders.</h4>
    </div>
</div>
