@page
@model StoreLoginModel
@{
    ViewData["Title"] = "Store Login";
}

<h1>@ViewData["Title"]</h1>

<form class="post">
    <div class="form-group">
        <label asp-for="Store.StoreID" class="control-label"></label>
        <select asp-for="Store.StoreID" class="form-control" asp-items="ViewBag.StoreID">
            <option value="">Which store are you?</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Sign-In" class="btn btn-primary">
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}