@page
@model GroceryDelivery.Pages_Items.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Form used to edit the selected item. -->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.ItemID" />
            <div class="form-group">
                <label asp-for="Item.ItemName" class="control-label"></label>
                <input asp-for="Item.ItemName" class="form-control" />
                <span asp-validation-for="Item.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemType" class="control-label"></label>
                <input asp-for="Item.ItemType" class="form-control" />
                <span asp-validation-for="Item.ItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Quantity" class="control-label"></label>
                <input asp-for="Item.Quantity" class="form-control" />
                <span asp-validation-for="Item.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label"></label>
                <input asp-for="Item.Price" class="form-control" />
                <span asp-validation-for="Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.StoreID" class="control-label"></label>
                <select asp-for="Item.StoreID" class="form-control" asp-items="ViewBag.StoreID"></select>
                <span asp-validation-for="Item.StoreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.OrderID" class="control-label"></label>
                <select asp-for="Item.OrderID" class="form-control" asp-items="ViewBag.OrderID"></select>
                <span asp-validation-for="Item.OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
